body {
	background-image: url("../images/bg-img.png");
 	background-position: center; 
  	background-repeat: no-repeat;
  	background-size: cover;
   }
p{
	color:black;
	text-align: center;
	font-size: larger;
	font-weight: bolder;
}
.error-template {
	padding: 40px 15px;
	text-align: center;
}
.error-actions {
	margin-top:15px;
	margin-bottom:15px;
}
.error-actions .btn { 
	margin-right:10px; 
}

